appnope==0.1.0
attrs==19.3.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
idna==2.9
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1591451759268/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1590020220914/work/dist/ipykernel-5.3.0-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1590796925971/work
ipython-genutils==0.2.0
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1592619347183/work
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-base_1592576109111/work
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1588887231072/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1591485228204/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1592422011735/work
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1590724681830/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
retrying==1.3.3
scipy==1.5.0
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
statsmodels @ git+https://github.com/statsmodels/statsmodels.git@2a5a6ec3baf901f52008aee10f166ff6085d3ba5
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
webencodings==0.5.1
zipp==3.1.0
